@import url('https://fonts.googleapis.com/css2?family=Cambria:wght@100;200;300;400;500;600&display=swap');

* {
   font-family: 'Cambria';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

body {
   min-height: 100vh;
   background-color: #fff;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 1.5rem 5%;
   background: #1f242d;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo {
   font-size: 2rem;
   color: #fff;
   font-weight: 600;
   cursor: default;
}

.navbar {
   display: flex;
   align-items: center;
}

.navbar a {
   font-size: 1.5rem;
   color: #fff;
   margin-left: 2rem;
   transition: .3s;
}

.navbar a:hover,
.navbar a.active {
   color: #FFB6C1;
}

#menu-icon {
   font-size: 2.5rem;
   color: #fff;
   cursor: pointer;
   display: none;
}

.content {
   text-align: center;
   margin-top: 100px;
}

.content h1 {
   font-size: 2.5rem;
   margin-bottom: 20px;
}

.content p {
   font-size: 1.2rem;
   color: #555;
}